{% extends 'base.html'%}

{% block titulo %}
    Formulário de Cadrasto
{% endblock %}

{ %block conteudos %}
<body class="text-center">
    <div class="container">
        <img class="mb-4" src="" style="width: 200px;">
        <h1>class="h3 mb-3">
            Cadastro
        </h1>
        <form method="post" class="form-register" style=" color: whitesmoke">
            {{form.usuario.label()}}
            {{form.usuario(class="form-control", placeholder= "Informe o Username")}}

        </form>
    </div>
</body>
{%endblock%}